html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
  background: url('/bg') no-repeat 50% 0% / cover;
  height: 100vh;
}
.wrapper {
  display: flex;
  width: 600px;
  margin: 0 auto;
  /* text-align: center; */
  flex-direction: row;
  
}
.progress{
  width: 100%;
  margin-bottom: 150px;
}
form {
  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid black;
    /* margin-bottom: 50px; */
}
#uploadForm {
  border-bottom: 0;
}
#downloadForm {
  border-top: 0;
}
.choose-wrapper {
  width: 65%;
  padding-left: 20px;
}
.svg-icon {
  font-size: 17px;
  transition: .3s;

}
.svg-icon svg path {
  color: rgb(224, 222, 222);
  transition: .3s;
}
.svg-icon:hover {
  color: rgb(224, 222, 222);
  cursor: pointer;
}
.svg-icon:hover svg path {
  fill: rgb(34, 179, 34);
}
.svg-icon svg {
  width: 45px;
  height: 45px;
  margin-right: 12px;
}
.svg-icon span {
  
}
input[type='file']{
  display: none;
}
input[type='text']{
  background: transparent;
    /* border: 2px solid black; */
    position: relative;
    top: 5px;
    background-color: cornsilk;
    width: 220px;
    outline: none;
    padding: 2px;
    height: 35px;
    font-size: 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}
.onUpload {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 0.6em;
  color: #000000;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 2.8em;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
}
.onUpload:hover {
  color: #fff;
  outline: 0;
}

.first {
  padding: 1.2em 44px;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn:disabled {
  opacity: .1;
}
.first:hover {
  box-shadow: 0 0 20px 20px rgb(34, 179, 34) inset;
  border: 2px solid rgb(34, 179, 34);
}
.second {

  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.second:hover {
  box-shadow: 0 0 20px 20px #f1c40f inset;
  border: 2px solid #f1c40f;
}
.download-img-wrap{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 2px solid;
  border-top: none;
  background: rgba(255, 255, 255, 0.4);
}
.download-img-wrap img{
  width: 80%;
  padding: 10px;
  height: auto;
  /* box-shadow: 0 0 10px 0px inset; */
  /* filter: blur(1px); */
  border-radius: 30px;
}

/* ///////////////////////////// */

.download-list-wrap{
  width: 100%;
  /* opacity: 0; */

  transform: translate(0%, 0);
  transition: .3s linear;
  margin-top: 40px;
}
.download-list{
  width: 100%;
  opacity: 0;
  transition: .3s linear;
}
.download-list-wrap.active .download-list{
  /* border: 1px solid rgb(224, 222, 222);  */
  opacity: 1;
  border-radius: 5px;
  padding: 10px 5px;
  background: rgba(255, 255, 255, 0.4);
  color: black;
}
.download-list-wrap span{
  display: none;
  position: absolute;
  top: -38px;
  left: -4px;
  cursor: pointer;
  transition: .3s linear;
}
.download-list-wrap span:hover{
  color: #ff0000;
}
.download-list-wrap.active span{
  display: block;
}

.download-list-wrap.active svg .lines-list{
  opacity: 0;
}

.download-list-wrap svg{
  /* display: none; */
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* opacity: 1; */
  position: absolute;
  top: -40px;
  left: 0;
  /* transform: translate(-50%, -100%); */

}
.download-list-wrap svg path:nth-child(1){
 fill: rgba(255, 255, 255, 0.4);
}
.download-list-wrap svg path:nth-child(2){
  fill: #ffffff66;
 }
 .wrapperProgress {
   background: rgba(255, 255, 255, 0.4);
   border-left: 2px solid black;
   border-right: 2px solid black; 
 }
 .uploadProgress {
  font-family: Roboto;
  background: #f0f0f0;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  border-radius: 5px;
  height: 20px;
  width: 90%;
  margin: 0 auto;
  /* margin-bottom: 20px; */
  overflow: hidden;

 }
 .listWrapper {
  width: 100%;
  padding-left: 40px;
 }